.CFUserTextEncoding
.DS_Store
.cache/
.cfg/
.cisco/
.config/
.lesshst
.localized
.oh-my-zsh/.editorconfig
.oh-my-zsh/.github/
.oh-my-zsh/.gitignore
.oh-my-zsh/.gitpod.Dockerfile
.oh-my-zsh/.gitpod.yml
.oh-my-zsh/.prettierrc
.oh-my-zsh/CODE_OF_CONDUCT.md
.oh-my-zsh/CONTRIBUTING.md
.oh-my-zsh/LICENSE.txt
.oh-my-zsh/README.md
.oh-my-zsh/SECURITY.md
.oh-my-zsh/lib/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/known_hosts
.ssh/known_hosts.oldAdd commentMore actions
.tmux-themepack/
.vim/
.viminfo
.zcompdump-mschindler-mlt-5.9
.zcompdump-mschindler-mlt-5.9.zwc
.zprofile
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
mac-os-bootstrap/
.__nvsec.lock
.anyconnect
.aws/
.azure/
.bash_history
.cassandra/
.codeium/
.continue/
.cups/
.cursor/
.docker/
.gk/
.gnupg/
.kratos/
.krew/
.kube/
.lacework.toml
.local/
.npm/
.nvinit/
.nvm/
.nvsec.cfg
.oh-my-zsh/.devcontainer/
.ollama/
.pyenv/
.python_history
.rafay/
.saml2aws
.ssh/known_hosts.old
.terraform.d/
.tldrc/
.tmux/
.tsh/
.vault-token
.vault-token.json
.vscode/
.wget-hsts
.yarnrc
.zcompdump
.zshDDPMenv
.zshenv
Applications/
Repos/
Virtual Machines.localized/
eks-ssm-content.json
factorio_headless_x64_1.1.109.tar.xz
go/
helmrelease-prod.yaml
helmrelease.yaml
nvsec.log
nvsec.log.1
nvsec.log.2
tmp.txt
tmp/
