.CFUserTextEncoding
.DS_Store
.cache/
.cfg/
.cisco/
.config/
.lesshst
.localized
.oh-my-zsh/.editorconfig
.oh-my-zsh/.github/
.oh-my-zsh/.gitignore
.oh-my-zsh/.gitpod.Dockerfile
.oh-my-zsh/.gitpod.yml
.oh-my-zsh/.prettierrc
.oh-my-zsh/CODE_OF_CONDUCT.md
.oh-my-zsh/CONTRIBUTING.md
.oh-my-zsh/LICENSE.txt
.oh-my-zsh/README.md
.oh-my-zsh/SECURITY.md
.oh-my-zsh/lib/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/known_hosts
.ssh/known_hosts.old
.tmux-themepack/
.vim/
.viminfo
.zcompdump-mschindler-mlt-5.9
.zcompdump-mschindler-mlt-5.9.zwc
.zprofile
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
mac-os-bootstrap/
